@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
.review-insert{
    text-align: left;
}
.book-background{
    position: absolute;
    max-width: 98vh;
    top: -130px;
    left: -300px;
    width: 120%;
    height: auto;
    z-index: -1;
    opacity: 0.9;
}
.body-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    position: absolute

}
.body-grid-item{
    position: relative;
}
input[type="text"] {
   
    text-align: left;/* background-color: transparent; */
    border: 2px none;
   
}
input[type="radio"] {
    -ms-transform: scale(0.5); /* IE 9 */
    -webkit-transform: scale(0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5);
  }
label{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;

}

.book-type-grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    position: absolute

}
.body-type-grid-item{
    position: relative;
    padding: 20px;
    /* background-color: transparent;
    border-radius: 10px; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}
[content-editable] {
 max-width: 100vh;
 border-bottom: 500vh;
}
.fonty {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
  }
  .fonty2 {
    
    font-size: 25px;

  }
  .fonty3 {
    
    font-size: 20px;
    text-align: left;
    
  }

.header-book{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    position: absolute;
    z-index: -1;
}
.header-book-item{
    position: relative;
}
.header-book-title{
    position: absolute;
    top:-15px;
    left: 50%;
    font-size: 40px;
}
.header-book-bookmark{
    width: 50%;
    height: auto;
    position: absolute;
    top: 175px;
    left: -35px;
}
.book-number{
    text-align: left;
    position:absolute;
    top: 30px;
    left: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 10px;
    max-width: 25px;
    font-size: 3em;
    min-width: 100px;
    background-color: transparent;
}

.type-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    position: absolute;
    top: 260px;
    left: 34%;
    width: 15%;
    height: auto;
    z-index: 4;
    align-items: left;
    /* opacity: 0.9; */
}
.type-grid-item{
    z-index: 5;
    position: relative;
    text-align: left;
    min-width: 100 px;
    /* padding: 1px; */
    /* background-color: transparent; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}
.line{
    border-bottom: 1px dotted rgb(1, 70, 154);
    
}
.line-title {
    position: absolute;
    top: 30%;
    left: 7%;
    width: 350px;
    text-align: center;
    
   
}
.line-author {
    position: absolute;
    top: 40%;
    left: 7%;
    width: 350px;
    text-align: center;
}
.size-normal{
    font-size: 20px;
}
     

.underneath-offset{
    position: absolute;
    text-align: left;
    top: 380px;
    left: 50px;
    min-width: 200px;
    min-height: 20px;
    background-color: transparent;
    height: auto;
    z-index: 6;
    opacity: 0.9;
}
.underneath-offset-author{
    position: absolute;
    text-align: center;
    top: 520px;
    left: 50px;
    min-width: 200px;
    min-height: 20px;
    background-color: transparent;
    height: auto;
    z-index: 7;
    opacity: 0.9;
}
.date-start{

    position: absolute;
    top: 750px;
    left: 15%;
    text-align: center;
}
.date-end{
    position: absolute;
    top: 0px;
    left: 125px;
    text-align: center;
 

}
.date-label{
    position: absolute;
    top: -30px;
    min-width: 200px;
    left: 30px;
    text-align: left;
}
.space{
    min-width: 100px;
    width:  100px;
}
.submit-button{
    position: absolute;
    top: 1054px;
    left: 17.9%;
    min-width: 64.5vh;
    text-align: center;
    background-color: rgb(182, 243, 243);
    color: black;
    border: 2px solid rgb(255, 255, 255);
}
.checked{
    color:rgb(182, 243, 243) ;
}
.rating-grid{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    position: absolute;
    top: 500px;
    left: 25%;
    width: 15%;
    height: auto;
    z-index: 4;
    align-items: left;
    /* opacity: 0.9; */
}
.rating-item{
    z-index: 5;
    position: relative;
    text-align: center;
    min-width:80px;
    top: 200px;
    /* padding: 1px; */
    /* background-color: transparent; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}
.logout-position{
    position: absolute;
    top: -30px;
    right: 10px;
}
.home-position{
    position: absolute;
    top: -30px;
    right: 40%;
}